# 시작하기

In [6]:
3000*2

6000

In [8]:
print("hello python")
print(32)
print('hi')
print('계산 : ', 3000*2, '입니다')

hello python
32
hi
계산 :  6000 입니다

In [10]:
print('오늘의 매출액은', 10*2000+10*3000, '입니다')

오늘의 매출액은 50000 입니다

In [11]:
sale = 10 * 2000
print("오늘 매출은", sale, "입니다")

오늘 매출은 20000 입니다

In [24]:
# 성장율 = (이번달 매출 - 지난달 매출) / 지난달 매출 * 100
성장율 = (1500 - 1000) / 1000 * 100
print("이번달의 성장율은",(1500 - 1000) / 1000 * 100, "% 입니다")

이번달의 성장율은 50.0 % 입니다

In [25]:
rate = (1500 - 1000) / 1000 * 100
print("이번달의 성장율은",rate, "% 입니다")

이번달의 성장율은 50.0 % 입니다

In [29]:
이달매출 = 500
지난달매출 = 2500
성장율 = (이달매출 - 지난달매출) / 지난달매출 * 100
print("이번달의 성장율은",성장율, "% 입니다")

이번달의 성장율은 -80.0 % 입니다

In [4]:
이달매출 = input('이번달 매출액을 입력하세요')
지난달매출 = input('지난달 매출액을 입력하세요')
print(이달매출, 지난달매출)

이번달 매출액을 입력하세요 1000
지난달 매출액을 입력하세요 2000

1000 2000

In [8]:
#당신의 이름을 알려주세요
#이름님! 반갑습니다!

이름 = input('당신의 이름을 알려주세요')
print(이름+'님! 반갑습니다!')

당신의 이름을 알려주세요 최아영

최아영님! 반갑습니다!

# print()의 활용

In [1]:
가격 = 1000
수량 = 10
매출 = 가격 * 수량
print(매출)

10000

In [4]:
print("이번달 매출은", 매출, "입니다.", sep=" ")

이번달 매출은 10000 입니다.

In [15]:
#apple, banana, cherry
과일목록1 = 'apple'
과일목록2 = 'banana'
과일목록3 = 'cherry'
print(과일목록1, 과일목록2, 과일목록3, sep=", ")

apple, banana, cherry

In [19]:
12345, '12345'

(12345, '12345')

In [20]:
type(12345), type('12345')

(int, str)

In [21]:
data = 12345
data2 = '12345'
type(data), type(data2)

(int, str)

In [22]:
12345+10, '12345'+10

TypeError: can only concatenate str (not "int") to str

In [23]:
12345+10, '12345'+'10'

(12355, '1234510')

In [24]:
data+10, data2+10

TypeError: can only concatenate str (not "int") to str

In [26]:
data+10, data2+'10'

(12355, '1234510')

In [30]:
name = 'ylee'
age = 20
#stringformat
print("나의 이름은 {}이고, 나이는 {}입니다.".format(name, age))

나의 이름은 ylee이고, 나이는 20입니다.

In [28]:
print("나의 이름은 name이고, 나이는 age입니다.")

나의 이름은 name이고, 나이는 age입니다.

In [31]:
#fstring
print(f"나의 이름은 {name}이고, 나이는 {age}입니다.")

나의 이름은 ylee이고, 나이는 20입니다.

In [32]:
name = input("이름을 입력하세요: ")
print(f"입력한 이름: {name}")

이름을 입력하세요:  ylee

입력한 이름: ylee

In [34]:
age = int(input("나이를 입력하세요: "))
print(f"내년 나이: {age+1}")

나이를 입력하세요:  20

내년 나이: 21

In [35]:
age = input('나이를 입력하세요: ')
age + 1

나이를 입력하세요:  20

TypeError: can only concatenate str (not "int") to str

In [36]:
type(age)

str

In [37]:
int('10')

10

In [38]:
type(int('10'))

int

In [39]:
int(age)+1

21

In [40]:
type(int(age)+1)

int

In [41]:
age = '열살'
type(age)

str

In [43]:
age = 20.8
type(age)

float

In [44]:
1_name = 'ylee'

SyntaxError: invalid decimal literal (877937700.py, line 1)

In [45]:
x = 10
a = 20
# 영문자 1 letter은 변수명으로 사용하지 않음

In [ ]:
PI = 3.141592  #constant 상수

In [ ]:
MAX_VALUE = 1000
MIN_VALUE = 0

In [47]:
#input()                #shift+tab키로 매개변수 확인 가능
print(abs(-3.14))       #tab키 누르면 자동 완성 기능        #abs는 절대값으로 변경

3.14

In [48]:
"".format()

''

In [49]:
30, 20, 10

(30, 20, 10)

In [50]:
30

30

In [51]:
30,

(30,)

In [60]:
a = 30, 20, 10  #패킹
type(a), a

(tuple, (30, 20, 10))

In [62]:
x,y,z = a
x,y

(30, 20)

In [55]:
b = 30
type(b)

int

In [68]:
b=30,
type(b)

tuple

In [64]:
a=10
b=a
a,b

(10, 10)

In [65]:
id(a), id(b)

(140711261268696, 140711261268696)

In [70]:
a=20
id(a), id(b)

(140711261269016, 2668417097088)

In [71]:
user_name = 'ylee'  #snake
userName = 'ylee'   #camel
username = 'ylee'
_name = 'ylee'      #private
__name__ = 'ylee'   #dunder (double underscore)
print(str(20))      #__str__()
_password = 1234

In [72]:
a = 'hi'
b = 'Hi'
id(a), id(b)

(140711261311456, 2668422530848)

In [73]:
a = 'Hi'
id(a), id(b)

(2668422530848, 2668422530848)

# 변수의 영역 nameSpace

지역변수, 전역변수

In [79]:
def local_exam():    #사용자정의함수
    local_var = 100
    print(f"함수내부: {local_var}")
local_exam()        #함수 호출
local_var = 200
local_exam()        #5번줄에서 local_var=200을 입력했어도, local_exam()은 def 함수에서 정의한 100을 불러옴
print(f"함수외부: {local_var}")    #local_var=200을 불러옴(전역변수)

함수내부: 100
함수내부: 100
함수외부: 200

In [84]:
counter = 0
def inc_counter():
    global counter
    counter += 1     #counter = counter + 1과 동일한 표현 '+='
    print(counter)
    
inc_counter()
inc_counter()
inc_counter()

1
2
3