# 리스트

[ ] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료 구조

In [1]:
score = [20, 30, 50, 90, 100]
score[0]  #첫 번째 학생 점수
score[4], score[-1]  #마지막 학생 점수

(100, 100)

In [54]:
fruit = ['사과', '바나나', '포도']
mixed = ['사과', 20, '바나나', 30, True]  
matrix = [[1,2], [3,4]]
print(matrix)
print(fruit)

[[1, 2], [3, 4]]
['사과', '바나나', '포도']

In [7]:
matrix[0], matrix[0][0]

([1, 2], 1)

In [111]:
matrix[0][0]

1

In [8]:
matrix[0][1]

2

리스트는 순서가 있다 - 인덱싱과 슬라이싱이 된다

In [9]:
fruits = ['사과', '바나나', '포도']
fruits[0], fruits[1:3]

('사과', ['바나나', '포도'])

In [10]:
str(fruits)

"['사과', '바나나', '포도']"

In [16]:
s_list = 'Hello'
s_list[0] = 'h'  #문자열은 변경 불가

TypeError: 'str' object does not support item assignment

In [17]:
n_list = list(s_list)
type(n_list), n_list

(list, ['H', 'e', 'l', 'l', 'o'])

In [18]:
n_list[0] = 'h'
n_list

['h', 'e', 'l', 'l', 'o']

In [ ]:
str(n_list)  #함수: 기능의 집합

In [21]:
''.join(n_list)  #메소드: 객체에 종속되어 있는 함수(객체를 이용해 동작을 하는 것)

'hello'

In [ ]:
# method, function 함수

In [22]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [23]:
ss = [1,2,3,4]  #리스트 표현으로 생성하기

[1, 2, 3, 4]

In [24]:
#list(1,2,3,4)

TypeError: list expected at most 1 argument, got 4

In [25]:
list('1,2,3,4')

['1', ',', '2', ',', '3', ',', '4']

In [30]:
a = range(5)
list(a)
type(a)

range

In [34]:
list(range(2,20,2))   #마지막 숫자 '2'의 의미는 2칸씩 건너뛰라는 의미임

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
#list는 mutable함. but, 커널에서 메모리를 많이 잡음

## 복사 , 얕은 복사 shallow copy

In [43]:
score = [10, 20, 30, 40, 50]
new_score = score
new_score

[10, 20, 30, 40, 50]

In [44]:
new_score[0] = 100
new_score

[100, 20, 30, 40, 50]

In [45]:
score

[100, 20, 30, 40, 50]

In [48]:
id(new_score), id(score)

(2445571642688, 2445571642688)

## 깊은 복사 deep copy

In [46]:
import copy
new_score_1 = copy.copy(score)
new_score_1[1] = 99
new_score_1, score

([100, 99, 30, 40, 50], [100, 20, 30, 40, 50])

In [47]:
id(new_score_1), id(score)

(2445571602496, 2445571642688)

In [50]:
score = [10, 20, 30, 40, 50]
new_score = score[:]
new_score

[10, 20, 30, 40, 50]

In [51]:
id(new_score), id(score)

(2445571446656, 2445571668224)

In [52]:
mixed = ['사과', 20, '바나나', 30, True]
mixed[1] * 3

60

# 리스트의 연산자 + *

In [55]:
lunch_1 = ['해물라면', '샐러드', '떡뽂이']
lunch_2 = ['짜장면', '짬뽕']
lunch_1 + lunch_2

['해물라면', '샐러드', '떡뽂이', '짜장면', '짬뽕']

In [58]:
lunch_1 * 2

['해물라면', '샐러드', '떡뽂이', '해물라면', '샐러드', '떡뽂이']

In [59]:
del lunch_1[0]
lunch_1

['샐러드', '떡뽂이']

In [61]:
'떡뽂이' in lunch_1

True

In [62]:
'a' in 'abcd'  #문자열에도 'in' 함수 쓸 수 있음. 문자열도 리스트임

True

In [64]:
# 연습문제
snack_box = []
# 먹고 싶은 간식을 입력받아서 추가하세요

In [104]:
snack_box = ['홈런볼']
new_snack = input('먹고 싶은 간식을 알려주세요').split(',')
snack_box += new_snack
snack_box

먹고 싶은 간식을 알려주세요 초코파이, 마카롱, 젤리

['홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [105]:
n = int(input('몇 박스가 필요하세요?'))
snack_box *= n
snack_box

몇 박스가 필요하세요? 2

['홈런볼', '초코파이', ' 마카롱', ' 젤리', '홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [106]:
# 빼고 싶은 간식이 있으면 번호를 입력하세요
del_n = int(input('빼고 싶은 간식이 있으면 번호를 입력하세요')) -1
del snack_box[del_n]
snack_box

빼고 싶은 간식이 있으면 번호를 입력하세요 1

['초코파이', ' 마카롱', ' 젤리', '홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [107]:
f_name = input('찾고 있는 간식이름을 입력하세요')
if f_name in snack_box :
    print('있어요!!')
else :
    print('없네요....')

찾고 있는 간식이름을 입력하세요 초코파이

있어요!!

In [108]:
snack_box.reverse()
snack_box

[' 젤리', ' 마카롱', '초코파이', '홈런볼', ' 젤리', ' 마카롱', '초코파이']

In [109]:
snack_box.reverse()
snack_box

['초코파이', ' 마카롱', ' 젤리', '홈런볼', '초코파이', ' 마카롱', ' 젤리']

In [110]:
print('스낵 박스 목록을 확인하세요')
print(snack_box[::-1])

스낵 박스 목록을 확인하세요
[' 젤리', ' 마카롱', '초코파이', '홈런볼', ' 젤리', ' 마카롱', '초코파이']

## ==, is

In [104]:
lunch_1 = ['주먹밥', '치킨', '칼국수']
lunch_2 = ['주먹밥', '치킨', '칼국수']
lunch_1 == lunch_2

True

In [7]:
id(lunch_1) == id(lunch_2)

False

In [9]:
lunch_1 is lunch_2   #is는 객체를 비교해서 같은지 확인해주는 연산자임(id를 꺼내서 == 비교하는 것과 같은 효과)

False

# 리스트와 for문

In [25]:
students = [{'num':'1','name':'kim','kor':80,'math':90,'eng':100,},
            {'num':'2','name':'choi','kor':85,'math':80,'eng':95},
            {'num':'3','name':'park','kor':100,'math':60,'eng':90}]
students[2]['name']  #인덱싱하기

'park'

In [26]:
print(students)

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}, {'num': '2', 'name': 'choi', 'kor': 85, 'math': 80, 'eng': 95}, {'num': '3', 'name': 'park', 'kor': 100, 'math': 60, 'eng': 90}]

In [32]:
print(students[0])  #for문으로 간단히!!
print(students[1])
print(students[2])

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270}
{'num': '2', 'name': 'choi', 'kor': 85, 'math': 80, 'eng': 95, 'total': 260}
{'num': '3', 'name': 'park', 'kor': 100, 'math': 60, 'eng': 90, 'total': 250}

In [29]:
for s in students:
    s['total'] = s['kor'] + s['math'] + s['eng']   
    print(s['total'])

270
260
250

In [35]:
print(students)    #total 변수가 들어감

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270}, {'num': '2', 'name': 'choi', 'kor': 85, 'math': 80, 'eng': 95, 'total': 260}, {'num': '3', 'name': 'park', 'kor': 100, 'math': 60, 'eng': 90, 'total': 250}]

In [42]:
for s in students:
    s['average'] = s['total'] / 3
    print(f'{s['average']:.1f}')   # 출력화면만 소수점 1자리로 보여짐

90.0
86.7
83.3

In [44]:
for s in students:
    s['average'] = round(s['total']/3,2) # 데이터 자체 소수점 자리를 바꿔줄 때
    print(s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'average': 90.0}
{'num': '2', 'name': 'choi', 'kor': 85, 'math': 80, 'eng': 95, 'total': 260, 'average': 86.67}
{'num': '3', 'name': 'park', 'kor': 100, 'math': 60, 'eng': 90, 'total': 250, 'average': 83.33}

In [45]:
for s in students:
    print(s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'average': 90.0}
{'num': '2', 'name': 'choi', 'kor': 85, 'math': 80, 'eng': 95, 'total': 260, 'average': 86.67}
{'num': '3', 'name': 'park', 'kor': 100, 'math': 60, 'eng': 90, 'total': 250, 'average': 83.33}

# 리스트의 정렬

In [46]:
num = [5,2,9,3,4]
num.sort()        #num 자체가 바뀜

In [47]:
num

[2, 3, 4, 5, 9]

In [51]:
num = [5,2,9,3,4]
new_num = sorted(num)       #sorted는 num 자체가 바뀌지 않음, 새로 변수 만들어줘야 함

In [52]:
num

[5, 2, 9, 3, 4]

In [53]:
new_num

[2, 3, 4, 5, 9]

In [ ]:
# 순위는 다음에...

# 리스트의 메소드

In [69]:
fruits = ['사과', '홍시', '포도', '복숭아']
fruits.append('멜론')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [70]:
fruits.insert(1, '수박')
fruits

['사과', '수박', '홍시', '포도', '복숭아', '멜론']

In [71]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [72]:
fruits.remove('수박')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [76]:
fruits.pop()   #후입선출
fruits

['사과', '홍시', '포도']

In [77]:
fruits.reverse()
fruits

['포도', '홍시', '사과']

# 리스트의 특징

In [81]:
data = list(range(-100,100))
print(len(data))

200

In [86]:
#리스트에 양수만 남긴다
#for x in data :
#    if x < 0 :
#       data.remove(x)   # 원본 데이터가 바뀌기 때문에 반복해서 수정하다보면 오류가 발생하기도 하고, 비용효율도 낮음
filtered = []
for x in data : 
    if x >= 0 :
        filtered.append(x)
print(filtered)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [94]:
#[1, 3, 5, 4, 2] -> [5, 4, 3, 2, 1]
num = [1, 3, 5, 4, 2]
num_2 = sorted(num)
num_2.reverse()
print(num_2)

#모범 답안
#num = [1, 3, 5, 4, 2]
#num.sort(reverse=True)
#num

[5, 4, 3, 2, 1]

In [101]:
#['Life', 'is', 'too', 'short'] -> "Life is too short"
list_1 = ['Life', 'is', 'too', 'short']
' '.join(list_1)

'Life is too short'

In [99]:
#[1, 3, 5, 7, 9] -> [3, 5, 7, 9, 1]
list1 = [1, 3, 5, 7, 9]
list2 = list1[1:]
list2 + [1]

#모범답안 
#num = [1, 3, 5, 7, 9]
#first = num.pop(0)
#num.append(first)
#num

[3, 5, 7, 9, 1]

# 튜플

In [105]:
tuple1 = 1,2,3
tuple1, type(tuple1)

((1, 2, 3), tuple)

In [106]:
tuple2 = tuple([1, 2, 3])
tuple2

(1, 2, 3)

In [108]:
t3 = (2)     #한 글자라도 ,가 있어야 튜플이 됨
t3, type(t3)

(2, int)

In [109]:
t3 = (2,)
t3, type(t3)

((2,), tuple)

In [112]:
t = (10, 20, 30, 40, 50)
t[1], t[-1]  #','로 연결하면 튜플이 됨

(20, 50)

In [113]:
t = (10, 20, 30, 40, 50)
t[2:4] #슬라이싱해도 튜플이 됨

(30, 40)

In [114]:
t = (10, 20, 30, 40, 50)
t[::-1]  #뒤에서 꺼내줌

(50, 40, 30, 20, 10)

In [115]:
t[0]=20  #값을 바꿀 수 없음

TypeError: 'tuple' object does not support item assignment

In [121]:
#tuple 함수의 값을 변경해주고 싶으면, list로 변수를 변경해준 후, 값을 변경하고, 다시 tuple 변수로 변경해줌. 
t_list = list(t)
t_list[0] = 20
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)

#패킹, 언패킹

In [122]:
nums = [1,2,3]
nums

[1, 2, 3]

In [126]:
nums = (1,2,3) #패킹
x, y, z = nums  #언패킹
x,y,z, nums

(1, 2, 3, (1, 2, 3))

In [127]:
student = ['hong', 20, '1학년']
student[0] +" "+ str(student[1]) +" "+ student[2]

'hong 20 1학년'

In [128]:
student_tuple = ('hong', 20, '1학년')

In [129]:
name, age, grade = ('hong', 20, '1학년')

In [132]:
name + str(age) + grade

'hong201학년'

In [134]:
x=1
y=2
#출력 >> x=2, y=1
tmp = x
x = y
y =tmp
x, y    #tmp는 임시 공간을 만들어 x를 저장했다가 x를 y에 채워준다는 의미임

(2, 1)

In [141]:
x=1
y=2
x, y = y, x  #튜플의 특징 >> tmp(임시공간)을 만들지 않고 언패킹하여 튜플 객체가 임시로 생김

In [136]:
x, y

(2, 1)

In [137]:
x = [2, 3, 4]
y = [1, 2, 3]
x, y = y, x

In [138]:
x, y

([1, 2, 3], [2, 3, 4])

In [139]:
x = '영희'
y = '철수'
x, y = y, x

In [140]:
x, y

('철수', '영희')

# 딕셔너리

In [163]:
person = {'name':'alice','age':25, 'city':'seoul'}
person_1 = {'name':'bob', 'age':30, 'city':'pusan'}
person_2 = {'name':'ally', 'age':27, 'city':'daejeon'}

In [164]:
person['name']

'alice'

In [165]:
person_1['city']

'pusan'

In [171]:
for per in person.values(): 
    print(per)   #key:value 1쌍
#per 함수에 key뿐 아니라 value도 꺼내고 싶을 때 .values 함수 사용

alice
25
seoul

In [174]:
for per, val in person.items():
    print(per, val)
#key와 value 동시에 꺼내고 싶을 때, .items 함수 사용

name alice
age 25
city seoul

In [175]:
person ['job']  #key가 없을 때, get 함수 사용

KeyError: 'job'

In [176]:
person.get('job')   #아웃풋이 없으면 무소식

In [177]:
person.get('age')   #아웃풋이 있으면 출력됨

25

In [179]:
person = {'이름':'Alice', '나이':25, '도시':'서울'}

In [180]:
person['직업'] = '개발자'

In [181]:
person['나이'] = 26

In [182]:
del person['도시']

In [183]:
print(person)

{'이름': 'Alice', '나이': 26, '직업': '개발자'}

In [185]:
print(person.keys())

dict_keys(['이름', '나이', '직업'])

In [186]:
print(person.values())

dict_values(['Alice', 26, '개발자'])

In [187]:
print(person.items())

dict_items([('이름', 'Alice'), ('나이', 26), ('직업', '개발자')])

In [188]:
print(person.pop('나이'))

26

In [189]:
person = {'이름':'Alice', '나이':25}
person.update({'나이':26, '직업':'개발자'})
print(person)

{'이름': 'Alice', '나이': 26, '직업': '개발자'}

In [190]:
print(person.get('직업', '정보 없음'))

개발자

In [191]:
print(person.get('도시', '정보 없음'))

정보 없음

In [192]:
d = {'a':1, 'b':2}
print(list(d.keys()))
print(list(d.values()))
for k, v in d.items():
    print(k, v)

print(d.get('x',0))

['a', 'b']
[1, 2]
a 1
b 2
0

# 집합

In [195]:
집합1 = set([1, 2, 3, 4])
집합1

{1, 2, 3, 4}

In [198]:
집합2 = set([1, 2, 3, 4, 4, 3]) #중복값은 사라짐
집합2

{1, 2, 3, 4}

In [200]:
집합3 = set([1, 2, 3, 4, 4, 3]*10) #중복값은 사라짐
집합3

{1, 2, 3, 4}

In [202]:
리스트 = list([1, 2, 3, 4, 4, 3]*10)
리스트

[1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3,
 1,
 2,
 3,
 4,
 4,
 3]

In [203]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# 집합연산
union(), intersection(), difference()

In [204]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)
print(A & B)
print(A - B)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}