# for 문

In [1]:
type(range(10)), range(10)

(range, range(0, 10))

In [2]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
#1~100 사이의 4의 배수 출력하기
for i in range(4, 100, 4):   #(start, stop, step)
    print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [4]:
#data = [0,1,2,3,4]
#data = ['james', 'robbert', 'risa']
data = 'Hello!'
data

'Hello!'

In [5]:
for var in data:
    print(var)

H
e
l
l
o
!

In [6]:
%%time
sum_value = 0
for i in range(1,100001) :
    sum_value += i

print(sum_value)

5000050000
CPU times: total: 31.2 ms
Wall time: 26.9 ms

In [7]:
%%time
num = range(1,100001)
result = sum(num)  #내장함수
result

CPU times: total: 0 ns
Wall time: 7.93 ms

5000050000

In [8]:
# 문자열 순회
isUpper = False
isLower = False
isDigit = False
isSpecial = False
special_char = '!@#%?$'

password = 'anC21!'
# 비밀번호 조건 만족여부 확인
for char in password :
    if char.isupper() : #대문자인지 확인
        isUpper = True
    elif char.islower() :
        isLower = True
    elif char.isdigit() : #숫자인지 확인
        isDigit = True
    elif char in special_char :
        isSpecial = True
    check_result = isUpper + isLower + isDigit + isSpecial
print(f"비밀번호 강도 조건 만족여부 : {'만족' if check_result ==4 else '불만족'}")

비밀번호 강도 조건 만족여부 : 만족

In [9]:
obj = range(1,4)
type(obj)

range

In [10]:
dir(obj)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [11]:
#방문자
visitor_ids = [101, 102, 103, 101, 104, 102, 105, 101, 103]
#순방문자
unique_visitors = set(visitor_ids)
print(unique_visitors)

{101, 102, 103, 104, 105}

In [12]:
#총방문횟수
print(f'총방문횟수 : {len(visitor_ids)}')
print(f'순방문횟수 : {len(unique_visitors)}')
#고유방문자 목록 출력
for visitor_id in unique_visitors:
    print(f'사용자 #{visitor_id}')

총방문횟수 : 9
순방문횟수 : 5
사용자 #101
사용자 #102
사용자 #103
사용자 #104
사용자 #105

# 중첩 반복문

In [13]:
for i in range(5):
    for j in range(5):
        print(i, j)  #i=0, j=0

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [14]:
for j in range(2,10):
    for i in range(1,10):
        #print(f'{j}*{i}={j*i}') #구구단 출력
        if j % 2 ==0 :
            print(f'{j}*{i}={j*i}') #짝수 구구단 출력

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

# 내장함수 enumerate()

In [15]:
char_list = ['a', 'b', 'c']
for idx, x in enumerate(char_list):
    print(idx, x)

0 a
1 b
2 c

In [16]:
enumerate(char_list)

In [17]:
list(enumerate(char_list))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [18]:
dir(enumerate(char_list))

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [19]:
set(enumerate(char_list))

{(0, 'a'), (1, 'b'), (2, 'c')}

In [20]:
list(enumerate((char_list),1))

[(1, 'a'), (2, 'b'), (3, 'c')]

# 내장함수 zip()

In [21]:
char_list_1 = ['hello', 'hi', 'good-bye']
char_list = ['a', 'b', 'c']
zip(char_list, char_list_1)

In [22]:
list(zip(char_list, char_list_1))

[('a', 'hello'), ('b', 'hi'), ('c', 'good-bye')]

In [23]:
char_obj = zip(char_list, char_list_1)
char_obj

In [24]:
for item in char_obj:
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [25]:
char_obj = zip(char_list, char_list_1)
char_obj

In [26]:
for item in char_obj:
    print(item[1])

hello
hi
good-bye

In [27]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']
for name, age, city in zip(names, ages, cities):
    print(f'{name}은(는) {age}살이고 {city}에 살고 있습니다')

Alice은(는) 25살이고 서울에 살고 있습니다
Bob은(는) 30살이고 부산에 살고 있습니다
Charlie은(는) 35살이고 대구에 살고 있습니다

In [ ]:
#날짜 입력받기 > 요일을 출력하는 기능
year = int(input('년도를 입력하시오: '))
month = int(input('월을 입력하시오: '))
day = int(input('일을 입력하시오: '))

In [ ]:
import datetime
calc_day = datetime.date(year, month, day).weekday()  #요일값 0~ 월~

week_day = ['월', '화', '수', '목', '금', '토', '일']
week_day[calc_day]
print(f'{week_day[calc_day]}요일입니다')

In [ ]:
year = int(input('년도를 입력하시오: '))
month = int(input('월을 입력하시오: '))
day = int(input('일을 입력하시오: '))
print('수요일입니다')

In [ ]:
# 총일수 % 7 -> calc_day
# 입력일: 2025-10-5
# 년도: 1~2024 (년도수 * 365(평년) or 366(윤년))  ## 윤년의 조건 체크!
# 월: 1~~9월 (월수 * 30[4,6,9] or 31[1,3,5,7,8] or 28[2,평년] or 29[2, 윤년])
# 일: 일

In [ ]:
year, month, day

In [ ]:
# 연도 날수 계산
total_days = 0
for i in range(1,year):   #2024년까지
    if i % 400 == 0:   #윤년
        total_days += 366
    elif i % 100 == 0 :  #평년
        total_days += 365
    elif i % 4 == 0 :  #윤년
        total_days += 366
    else :  #평년
        total_days += 365
print(f'1st : {total_days}, {year}')
# 2025년의 월기준 일수 계산
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for m in range(1,month) :
    total_days += month_days[m]

print(f'2nd : {total_days}, {year}')

#올해가 윤년인지 체크 +1
if month >= 3 : 
    #윤년체크
    if year % 400 == 0:   #윤년
        total_days += 1
    elif year % 100 == 0 :  #평년
        total_days += 0
    elif year % 4 == 0 :  #윤년
        total_days += 1
    else :  #평년
        total_days += 0

print(f'3rd : {total_days}, {year}, {month}')

total_days += day

print(f'final : {total_days}, {year}, {month}, {day}')

# 연도 + 월 + 일 % 7 > 요일에 해당하는 수
remain = total_days % 7
result = None
if remain == 0:
    result = '일요일'
elif remain == 1:
    result = '월요일'
elif remain == 2:
    result = '화요일'
elif remain == 3:
    result = '수요일'
elif remain == 4:
    result = '목요일'
elif remain == 5:
    result = '금요일'
elif remain == 6:
    result = '토요일'

print(f'{year}년 {month}월 {day}일은 {result}입니다.')

In [ ]:
# 연도 날수 계산
total_days = 0
for i in range(1,year):   #2024년까지
    if i % 400 == 0:   #윤년
        total_days += 366
    elif i % 100 == 0 :  #평년
        total_days += 365
    elif i % 4 == 0 :  #윤년
        total_days += 366
    else :  #평년
        total_days += 365
print(f'1st : {total_days}, {year}')
# 2025년의 월기준 일수 계산
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for m in range(1,month) :
    total_days += month_days[m]

print(f'2nd : {total_days}, {year}')

#올해가 윤년인지 체크 +1
if month >= 3 : 
    #윤년체크
    if year % 400 == 0:   #윤년
        total_days += 1
    elif year % 100 == 0 :  #평년
        total_days += 0
    elif year % 4 == 0 :  #윤년
        total_days += 1
    else :  #평년
        total_days += 0

print(f'3rd : {total_days}, {year}, {month}')

total_days += day

print(f'final : {total_days}, {year}, {month}, {day}')

# 연도 + 월 + 일 % 7 > 요일에 해당하는 수

week_days = ['일요일', '월요일','화요일', '수요일', '목요일', '금요일', '토요일']
remain = total_days % 7
result = week_days[remain]
    
print(f'{year}년 {month}월 {day}일은 {result}입니다.')

In [ ]:
#chatGPT 버전
students = [{'num':'1','name':'kim','kor':80,'math':90,'eng':100,},
            {'num':'2','name':'park','kor':90,'math':60,'eng':80},
            {'num':'3','name':'hong','kor':70,'math':70,'eng':80},
            {'num':'4','name':'hong1','kor':70,'math':70,'eng':80},
            {'num':'5','name':'hong2','kor':70,'math':70,'eng':80}]

# 학생별 총점과 평균 계산(속성 추가)
for s in students :
    total = s['kor'] + s['math'] + s['eng']
    avg = total / 3

    s['total'] = total
    s['avg'] = avg

# 학생별 순위 계산(속성 추가)
for s in students:
    rank = 1
    for other in students:
        if other['total'] > s['total'] :
            rank +=1
    
    s['rank'] = rank

#전체 총점과 평균 계산
all_total = 0

for s in students :
    all_total += s['total']

all_avg = all_total / (len(students) * 3)

#과목별 평균 출력
kor_sum = 0
math_sum = 0
eng_sum = 0

for s in students:
    kor_sum += s['kor']
    math_sum += s['math']
    eng_sum += s['eng']

kor_avg = kor_sum / len(students)
math_avg = math_sum / len(students)
eng_avg = eng_sum / len(students)

print("번호 이름 국어 수학 영어 총점 평균 순위")
for s in students:
    print(s['num'], s['name'], s['kor'], s['math'], s['eng'],
          s['total'], f'{s['avg']:.1f}',s['rank'])

print('\n전체 총점:',all_total)
print('전체 평균:', f'{all_avg:2f}')

print('\n과목별 평균')
print('국어 평균:', f'{kor_avg: 1f}')
print('수학 평균:', f'{math_avg: 1f}')
print('영어 평균:', f'{eng_avg: 1f}')

In [ ]:
#학생별 총점, 평균, 순위 -> 속성추가
#전체 총점, 평균 출력
#과목별 평균 출력

In [ ]:
students = [{'num':'1','name':'kim','kor':80,'math':90,'eng':100,},
            {'num':'2','name':'park','kor':90,'math':60,'eng':80},
            {'num':'3','name':'hong','kor':70,'math':70,'eng':80},
            {'num':'4','name':'hong1','kor':70,'math':70,'eng':80},
            {'num':'5','name':'hong2','kor':70,'math':70,'eng':80}]

s = students[0]['kor']
s

In [ ]:
#총점, 평균
students = [{'num':'1','name':'kim','kor':80,'math':90,'eng':100,},
            {'num':'2','name':'park','kor':90,'math':60,'eng':80},
            {'num':'3','name':'hong','kor':70,'math':70,'eng':80},
            {'num':'4','name':'hong1','kor':70,'math':70,'eng':80},
            {'num':'5','name':'hong2','kor':70,'math':70,'eng':80}]

for s in students :
    s['total'] = s['kor'] + s['math'] + s['eng']
    s['avg'] = s['total'] / 3

#순위
for s in students :
    rank = 1
    for other in students:
        if other['total'] > s['total']:
            rank +=1
    s['rank'] = rank
      
   
#전체 총점, 평균 출력
total_sum = 0

for s in students:
    total_sum += s['total']

avg_sum = total_sum / (len(students) * 3)

print(f'전체 총점: {total_sum}, 전체평균: {avg_sum}')

#과목별 평균 출력

kor_avg = 0
math_avg = 0
eng_avg = 0

for s in students:
    s['kor_avg'] = s['kor'] / (len(students))
    s['math_avg'] = s['kor'] / (len(students))
    s['eng_avg'] = s['eng'] / (len(students))

student

# While 문

In [2]:
sum = 0 #변수의 초기화
for i in range(1,11): #1,2,3
    sum += i #처리
sum #출력

55

In [3]:
#변수의 초기화
i = 1
sum = 0
while True : #조건
    sum += i  #sum = sum + i
    i += 1   # i = i + 1      #(sum, i) 값이 (45, 10)
    if i >=10 : #조건식
        break
    #i += 1   #(sum, i) 값이 (55,10)
print(sum, i)

45 10

In [11]:
user_input = None
while user_input != "exit":
    # True인 동안 실행
    user_input = input('명령을 입력하세요 (Exit를 넣으면 종료합니다.)').lower()
    print(f'입력하신 명령은 {user_input}입니다.')

print('Exit 명령을 입력하셨습니다.')

명령을 입력하세요 (Exit를 넣으면 종료합니다.) Exit

입력하신 명령은 exit입니다.
Exit 명령을 입력하셨습니다.

In [15]:
i = 1
while i < 6 :
    print('*'*i)
    i += 1

*
**
***
****
*****

In [16]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

# 업앤다운 게임

In [24]:
import random
number = random.randint(1,10)
number #컴퓨터의 선택

7

In [25]:
# 정답 맞추기
cnt = 0
while True:
    #입력 받기
    answer = int(input('1~10 사이에 숫자 맞추세요'))
    cnt += 1
    #조건
    if answer == number :  #맞춘 경우
        print(f'축하합니다. 정답입니다. 도전횟수: {cnt}')
        break
    elif answer > number :
        print('down')
    else :
        print('up')

1~10 사이에 숫자 맞추세요 7

축하합니다. 정답입니다. 도전횟수: 1