In [25]:
#함수정의
#피보나치 수열 특징 : 첫 두 숫자는 0과 1

#함수 정의
def fibo(n):  # n :: 정수
    result = []
   #피보나치 수열 생성
    if n <= 0 :
        return result
    elif n == 1 :
        return [0]

    result = [0, 1]
    
    for i in range(2,n):   #3 -> [0, 1, i=2>>1]
        result.append(result[i-1] + result[i-2])

    return result

In [26]:
#함수 호출
#n=int(input())
print(fibo(5))   #정수를 매개변수로 넣어서 함수호출

[0, 1, 1, 2, 3]

In [3]:
#문자열 압축하기
#함수 정의
def comp_str(s) :
    result = ''
    #빈 문자열 처리
    if not s:
        return result
    count = 1
    for i in range(1, len(s)): #aaabbcccccca i=1
        if s[i] == s[i -1]: #if a == a
            count += 1
        else :  #새로운 문자가 나왔을 때, 이전 문자와 이번 문자가 다른 경우
            result += s[i-1] + str(count)  #if a != b
            count = 1  #카운트 초기화
    #마지막 문자가 1개일 때 추가 처리
    result += s[-1] + str(count)

    return result

In [4]:
#함수 호출
test_str = 'aaabbcccccca'
comp_str(test_str)

'a3b2c6a1'

In [13]:
#duplicate Numbers
def chk_dup_num(s):
    result = True
    val_list = []
    for num in s :   #0123456789  6789012345(True)
        if num not in val_list :
            val_list.append(num)
        else :
            result = False    
    if len(val_list) != 10 :
        result = False
    return result

print(chk_dup_num('0123456789'))
print(chk_dup_num('01234'))
print(chk_dup_num('01234567890'))
print(chk_dup_num('6789012345'))
print(chk_dup_num('012322456789'))

True
False
False
True
False

In [17]:
#문자열 숫자를 정수로 변환하기   (전처리)
def convert_int(s) :
    #콤마가 있는 숫자를 정수로 변환
    result = s.replace(',','')
    return int(result)

convert_int("1,234,567")

1234567

In [23]:
#월급 계산기
print('=' * 50)
print('월급 계산기')
print('=' * 50)
def sal_calc():
    result = 0
    sal = int(input('월급을 입력하세요: '))
    tax = sal * 0.1
    net_salary = sal - tax
    print('=' * 50)
    print(f'월급 : {sal:,}원')
    print(f'세금 : -{int(tax):,}원')
    print('-' * 50)
    print(f'실수령 : {int(net_salary):,}원')
    print('=' * 50)
sal_calc()

==================================================
월급 계산기
==================================================

월급을 입력하세요:  100000

==================================================
월급 : 100,000원
세금 : -10,000원
--------------------------------------------------
실수령 : 90,000원
==================================================

In [24]:
(lambda x, y : x + y)(5,10)

15