# 연산

In [30]:
#0. C:\Windows 출력하기.

print('C:\\Windows')

C:\Windows

In [31]:
#1. 유저한테서 KMH값을 입력받으면, 그에 맞는 MPH로 변환하는 코드를 만드세요. MPH=0.6214*KMH

KMH = int(input('현재 속도를 km/h로 입력하세요: '))
MPH = 0.6214 * KMH
print(f'현재 속도는 {MPH} mile/h입니다.')

현재 속도를 km/h로 입력하세요:  55

현재 속도는 34.177 mile/h입니다.

In [35]:
kmh = int(input('현재 속도를 km/h로 입력하세요. '))
M_VALUE = 0.6214  #상수
print(type(M_VALUE))
      
mph = M_VALUE * kmh
print(f'{kmh}를 mph로 변환하면 {mph}입니다')

현재 속도를 km/h로 입력하세요.  55

<class 'float'>
55를 mph로 변환하면 34.177입니다

In [36]:
#일반적인 활용
M_VALUE = 0.6214  #상수
kmh = int(input("현재 속도를 km/h로 입력하세요. "))
if kmh > 0 :
    mph = M_VALUE * kmh
    print(f'{kmh}를 mph로 변환하면 {mph}입니다')
else: 
    print('속도는 양수로 입력하세요')

현재 속도를 km/h로 입력하세요.  0

속도는 양수로 입력하세요

In [14]:
#2. 유저한테 년도와 월을 입력받으세요. 그리고나서 해당 년도와 월을 출력하는 코드를 만드세요. 

theyear = int(input("년도를 입력해주세요: "))
themonth = int(input("월을 입력해주세요: "))
print(theyear, '년', themonth, '월')

년도를 입력해주세요:  2025
월을 입력해주세요:  12

2025 년 12 월

In [42]:
import calendar
theyear = int(input('연도를 입력하세요'))
themonth = int(input('월을 입력하세요'))
print(calendar.month(theyear, themonth))

연도를 입력하세요 55
월을 입력하세요 12

    December 55
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [1]:
import calendar
theyear = int(input('연도를 입력하세요'))
themonth = int(input('월을 입력하세요(1~12)'))
#if themonth > 0 and themonth > 0 :
if 0 < themonth < 13 :
    print(calendar.month(theyear, themonth))
else:
    print('월은 1~12 사이 숫자로 입력하세요.')

연도를 입력하세요 2025
월을 입력하세요(1~12) 12

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [37]:
import calendar
theyear = 2026
themonth = 1
print(calendar.month(theyear, themonth))

    January 2026
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [46]:
#3. 유저한테 두개의 float을 입력받아서, 두 수의 곱과 합을, 다음처럼 똑같이 출력하는 코드를 만드세요.
    # 출력형태: First is 4.3, second is 5.21. So, Mutiplication = 22.403, addition = 9.51

float_one = float(input("소수점 한자리 숫자를 입력해주세요: "))
float_two = float(input("소수점 두자리 숫자를 입력해주세요: "))
multi = float_one * float_two
add = float_one + float_two
print(f"First is {float_one}, second is {float_two}. So, Mutiplication = {multi}, addition = {add}")

소수점 한자리 숫자를 입력해주세요:  4.3
소수점 두자리 숫자를 입력해주세요:  5.21

First is 4.3, second is 5.21. So, Mutiplication = 22.403, addition = 9.51

In [2]:
num_1 = float(input('실수(예: 1.1)를 입력하세요'))
num_2 = float(input('실수(예: 1.222)를 입력하세요'))

mul = num_1 * num_2
addition = num_1 + num_2
output = f'First is {num_1}, second is {num_2}.'\
        + f'So, Mutiplication = {mul:.3f},'\
        + f'addition = {addition:.2f}'
print(output)

실수(예: 1.1)를 입력하세요 3.5
실수(예: 1.222)를 입력하세요 2.444

First is 3.5, second is 2.444.So, Mutiplication = 8.554,addition = 5.94

In [3]:
#4. 다음을 실행하면 어떤 결과가 나올까요?

x = 10
x = 20
x = 15
x, type(x)

(15, int)

In [4]:
y = 3
z = x/y
z, type(z)

(5.0, float)

In [24]:
#5. 넓이와 둘레길이를 구하는 코드를 만드세요. a는 11, b는 7일 때의 넓이와 둘레의 길이를 구하세요.

a = 11; b = 7
area = a*b
perimeter = 2*(a+b)
print(area, perimeter)

77 36

In [25]:
#6. 어떤 숫자 x가 주어졌을 때, 그 숫자가 짝수인지 홀수인지 계산하는 코드를 작성하세요.

x = int(input("숫자를 입력해주세요: "))
if x // 2 == 0:
    print("짝수입니다")
else:
    print("홀수입니다")

숫자를 입력해주세요:  5

홀수입니다

In [5]:
x = int(input('홀짝을 판별할 숫자를 입력하세요'))
나머지 = x % 2
if 나머지 == 1 :  #비교 == 같은가?
    print(f'{x}는 홀수입니다.')
else :
    print('f{x}는 짝수입니다.')

홀짝을 판별할 숫자를 입력하세요 10

f{x}는 짝수입니다.

In [26]:
#7. a의 길이가 20으로 주어졌을 때, 표면적(area)와 부피(volume)을 구하세요.

a = 20
area = 6 * a**2
volume = a**3
print(area, volume)

2400 8000

In [6]:
a = 20
area = 6 * (a ** 2)
volume = a**3
print(area, volume)

2400 8000

In [28]:
#8. x가 4, y가 2일 때, 다음 식을 만족하는 z를 구하는 코드를 짜세요.
    # z = |x - y| * (x + y)

x = 4; y = 2
z = abs(x - y) * (x + y)
print(z)

12

In [10]:
text = 'python'
print(text[::1])

python

In [8]:
print('py' in text)

True

# 복합자료형

1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [1]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]
numbers[0] + numbers[-1]

110

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [3]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
print(colors[0:3])
print(colors[-2:])

['red', 'green', 'blue']
['orange', 'black']

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing

In [4]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
list_a[2] [1]

'korean'

4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [7]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b
list_c

[1, 2, 3, 4, 5, 6]

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [8]:
tuple_a = ("apple", "banana", "cherry")
list_a = list(tuple_a)
list_a[1] = "blueberry"
tuple_b = tuple(list_a)
tuple_b

('apple', 'blueberry', 'cherry')

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [19]:
a = 5
b = 10
c = 15
tuple_a = a, b, c
print(tuple_a)

(5, 10, 15)

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [27]:
numbers = (92, 89, 72, 31, 71, 33, 19)
list_t =list(numbers)
list_t.sort()
list_t[-1], list_t[0]

(92, 19)

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.

In [32]:
name: "Alice"
age: 24
major: "Computer Science"
student = dict(name='Alice', age=24, major='computer Science')
student = {'name':'Alice', 'age':24, 'major':'computer Science'}
print(student)

{'name': 'Alice', 'age': 24, 'major': 'computer Science'}

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

In [33]:
print(student.items())

dict_items([('name', 'Alice'), ('age', 24), ('major', 'computer Science')])

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [35]:
student['age']=26
print(student['age'])

26

11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [41]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

for stu in students.values(): 
    print(stu.values())

dict_values(['Alice', 24])
dict_values(['Bob', 22])
dict_values(['Charlie', 23])